:root {
  --background: #303030;
  --text: white;
  --accent: #0080FF;
  --accent-border: 0.4em solid var(--accent);
  --box: #00000080;
  --code-spacing: 0.2em;
  --clock-mark-width: 0.3em;
  --clock-hand-width: 0.4em;
  --clock-hand-overhang: 1em;
}

html, body, #root {
    cursor: none;
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 3vmin;
    font-family: ubuntu, sans-serif;
    font-weight: lighter;
    color: white;
}

p {
  margin: 0;
}

.full {
  position: absolute;
  left: 0;
  top: 0;
  margin: 0;
  width: 100vw;
  height: 100vh;
}

#root {
    background: var(--background);
}

#status {
  font-size: 2em;
  margin-bottom: 0.5em;
}

.info-box {
  margin-left: 2rem;
  margin-top: 1rem;
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 0.5em;
  padding-bottom: 0.8em;
  border-left: var(--accent-border);
  background-color: var(--box);
  min-width: 14em;
}

#errors {
    color: white;
    font-weight: normal;
    margin-top: 1em;
    margin-left: 2em;
}

.control-url {
  font-size: 2em;
  padding: 0.4em;
}

.peer-id-container {
  border-top: var(--accent-border);
  background-color: var(--box);;
  display: inline-block;
  text-align: center;
  margin-bottom: 1.5rem;
  width: 12.5em;
  line-height: 4em;
  height: 4em;
}

#peer-id {
  font-family: courier new, monospace;
  font-weight: normal;
  font-size: 2em;
  letter-spacing: var(--code-spacing);
  /* we have to indent by the same amount as letter-spacing to make centering work,
   * because first char doesn't have spacing applied to left side. */
  text-indent: var(--code-spacing);
}

#clock {
  position: absolute;
  right: 2rem;
  top: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20em;
  height: 20em;
  border-radius: 100%;
  background-color: var(--box);
  overflow: visible;
}

.clock-item-container {
  box-sizing: border-box;
  position: absolute;
  height: 100%;
  width: var(--clock-mark-width);
  transition: transform 0.2s;
}

.clock-mark-container {
  padding-top: 3%;
  padding-bottom: 92%;
}

.clock-hour-container {
  padding-top: 25%;
  padding-bottom: calc(50% - var(--clock-hand-overhang));
  width: var(--clock-hand-width);
}

.clock-minute-container {
  padding-top: 7%;
  padding-bottom: calc(50% - var(--clock-hand-overhang));
  width: var(--clock-hand-width);
}

.clock-item {
  height: 100%;
  width: 100%;
}

.clock-mark {
  background-color: var(--text);
  border-radius: var(--clock-mark-width);
}

.clock-hour-hand {
  background-color: var(--accent);
}

.clock-minute-hand {
  background-color: var(--accent);
}
